<% @recipes.each do |recipe| %>
  <h1> <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a></h1><br>
  <h3>Ingredients: <%= recipe.ingredients %></h3><br>
  <h3>Cook time <%= recipe.cook_time %></h3><br>
<% end %>